.Projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    height: 100vh;

}


.project {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    margin: 27px;
    position: relative;
}

.projectsButton {
    border: 1px solid rgb(215, 215, 215);
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.projectsButton:hover {
    border: 1px solid grey;
}

h2 {
    margin-top: 30px;
}